<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
  <li>
    Title: <%= link.title %>
    url: <%= link.url %>
    tag: <%= link.tags.map(&:tag).join(', ') %>
  </li>
  <% end %>
</ul>
  <h2> Filter tags </h2>

  <form action = "/tags/:name" method = "GET">
    <input type = "text" name = "tag" placeholder = "What tag do you want to filter by?">
    <input type = "submit" value = "Search">
  </form>
